.service {
    margin-top: 83px;
    margin-bottom: 152px;

    .services__container {
        justify-content: space-between;

        .serv-left {
            .serv__content {
                margin-bottom: 80px;

                &:last-child {
                    margin-bottom: 0;
                }

                .serv__img {
                    margin-right: 50px;

                    &:nth-child(2) {
                        margin-right: 0;
                        margin-left: 50px;
                    }
                }

                .serv__txt {
                    max-width: 395px;

                    h2 {
                        font-family: $DINCondensed;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 88.5%;
                        color: #151515;
                        margin-bottom: 32px;
                    }

                    .linear {}

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 161%;
                        color: #555555;
                        margin-top: 32px;
                    }
                }
            }
        }

        .serv-form {
            height: 1434px;

            .form__block {
                position: sticky;
                position: -webkit-sticky;
                top: 200px;
                padding: 65px 0 65px 41px;
                width: 312px;
                background: #FFFFFF;
                box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2);
                border-radius: 2px;

                .title {
                    font-family: $DINCondensed;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 88.5%;
                    text-transform: uppercase;
                    margin-bottom: 28px;
                }

                .name {
                    border: none;
                    width: 231.41px;
                    height: 52px;
                    left: 1057.37px;
                    top: 787px;
                    background: #EEEEEE;
                    border-radius: 2px;
                    // value
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 161%;
                    color: black;
                    padding-left: 15px;
                    margin-bottom: 20px;
                    outline: none;
                }

                .number {
                    outline: none;
                    border: none;
                    width: 231.41px;
                    height: 52px;
                    left: 1057.37px;
                    top: 787px;
                    background: #EEEEEE;
                    border-radius: 2px;
                    // value
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 161%;
                    color: black;
                    padding-left: 15px;
                    margin-bottom: 37px;
                }

                .btn {
                    border: 1px solid #444444;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 20px;
                    color: #444444;
                    padding: 15px 32px;
                    background-color: #fff;
                    text-transform: uppercase;

                    &:hover {
                        border: 1px solid #918d8d;
                        color: #918d8d;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .service {
        margin-top: 83px;
        margin-bottom: 152px;

        .services__container {
            justify-content: inherit;

            .serv-left {
                margin: 0 auto;

                .serv__content {
                    margin-bottom: 80px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .serv__img {
                        margin-right: 50px;

                        &:nth-child(2) {
                            margin-right: 0;
                            margin-left: 50px;
                        }
                    }

                    .serv__txt {
                        max-width: 395px;

                        h2 {
                            font-family: $DINCondensed;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 36px;
                            line-height: 88.5%;
                            color: #151515;
                            margin-bottom: 32px;
                        }

                        .linear {}

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 161%;
                            color: #555555;
                            margin-top: 32px;
                        }
                    }
                }
            }

            .serv-form {
                max-height: 400px;
                margin: 0 auto;
                margin-top: 50px;

                .form__block {
                    position: static;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .service {
        .services__container {
            .serv-left {
                .serv__content {
                    justify-content: space-between;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .serv__img {
                        width: calc(100%/2 - 10px);
                        margin-right: 0px;

                        &:nth-child(2) {
                            margin-right: 0;
                            margin-left: 0px;
                        }
                    }

                    .serv__txt {
                        width: calc(100%/2 - 10px);
                    }
                }
            }

            .serv-form {
                margin: 0 auto;
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .service {
        margin: 83px 0;
        .services__container {
            .serv-left {
                .serv__content {
                    justify-content: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(2) {
                        flex-direction: column-reverse;
                    }

                    .serv__img {
                        text-align: center;
                        width: calc(100%);
                        margin-right: 0px;

                        &:nth-child(2) {
                            margin-right: 0;
                            margin-left: 0px;
                        }
                    }

                    .serv__txt {
                        width: calc(100%);

                        h2 {
                            margin-top: 30px;
                        }

                        p {
                            padding-top: 0px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid #D3D3D3;
                        }
                    }
                }
            }
            
            .serv-form {
                margin: 0 auto;
                margin-top: 50px;
                height: 1434px;
    
                .form__block {

                    position: sticky;
                    position: -webkit-sticky;
                    top: 200px;
                    padding: 65px 0 65px 25px;
                    width: 240px;
                    background: #FFFFFF;
                    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
    
                    .title {
                        font-family: $DINCondensed;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 88.5%;
                        text-transform: uppercase;
                        margin-bottom: 28px;
                    }
    
                    .name {
                        border: none;
                        width: 193px;
                        height: 52px;
                        left: 1057.37px;
                        top: 787px;
                        background: #EEEEEE;
                        border-radius: 2px;
                        // value
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 161%;
                        color: black;
                        padding-left: 15px;
                        margin-bottom: 20px;
                        outline: none;
                    }
    
                    .number {
                        outline: none;
                        border: none;
                        width: 193px;
                        height: 52px;
                        left: 1057.37px;
                        top: 787px;
                        background: #EEEEEE;
                        border-radius: 2px;
                        // value
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 161%;
                        color: black;
                        padding-left: 15px;
                        margin-bottom: 37px;
                    }
    
                    .btn {
                        border: 1px solid #444444;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 20px;
                        color: #444444;
                        padding: 15px 32px;
                        background-color: #fff;
                        text-transform: uppercase;
    
                        &:hover {
                            border: 1px solid #918d8d;
                            color: #918d8d;
                        }
                    }
                }
            }
        }
    }
}