.header {
    margin-bottom: 100px;
    .header__title {
        box-shadow: 0px 0px 64px rgba(59, 71, 103, 0.08);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .title__logo {
            img {
                width: 157px;
                height: 32px;
            }
        }

        .title__menu {
            font-size: 14px;

            .header__list {
                display: flex;
                list-style-type: none;

                .header__item {
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    margin-right: 15px;

                    .anim {
                        display: inline-block;
                        margin-right: 10px;
                        width: 17px;
                        height: 17px;
                        animation: anim 0.32s linear infinite;
                        background: no-repeat 50% 50% / 100% 100%;
                    }

                    @keyframes anim {

                        0%,
                        100% {
                            background-image: url(../images/header/fire/anim1.png);
                        }

                        12.5% {
                            background-image: url(../images/header/fire/anim2.png);
                        }

                        25% {
                            background-image: url(../images/header/fire/anim3.png);
                        }

                        37.5% {
                            background-image: url(../images/header/fire/anim4.png);
                        }

                        50% {
                            background-image: url(../images/header/fire/anim5.png);
                        }

                        62.5% {
                            background-image: url(../images/header/fire/anim6.png);
                        }

                        75% {
                            background-image: url(../images/header/fire/anim7.png);
                        }

                        82.5% {
                            background-image: url(../images/header/fire/anim8.png);
                        }
                    }

                    a {
                        font-size: 14px;
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }

        .title__button {
            a {
                display: block;
                padding: 12px 24px;
                border-radius: 42px;
                background: rgba(43, 194, 58, 0.05);
                color: #2BC23A;
                font-weight: 700;
                line-height: 22px;

                &:hover {
                    background: rgba(43, 194, 58, 0.25);
                }
            }
        }
    }

    .header__content {
        .header__container {
            .content__wrapper {
                max-width: 730px;
                margin: 96px auto 150px auto;
                position: relative;
                .content__title {
                    text-align: center;
                    color: #3B3E45;
                    font-family: $Raleway;
                    line-height: 76px;
                    font-weight: 600;
                    font-size: 62px;
                    margin-bottom: 50px;
                    span {
                        &::before {
                            content: url(../images/page/Redlines.svg);
                        }

                        &::after {
                            content: url(../images/page/Bluelines.svg);
                            position: relative;
                            top: 15px;
                        }
                    }
                }
                .content__subtitle {
                    text-align: center;
                    font-family: $PTRootUI;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: #4A4F5C;
                    margin-bottom: 5px;
                    span {
                        font-weight: 600;
                        color: #3B3E45;
                    }
                }
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 35%;
                }
            }
            .content__images {
                text-align: center;
                margin: 0 auto;
                .swiper-page {
                    display: none;
                    .swiper-wrapper {
                        .swiper-slide {
                            .first {}

                            .second {}
                        }
                        img {

                        }
                    }
                }
            }
        }
    }
}

.swiper-pagination {
    padding-top: 35px !important;
    position: static !important;
}


.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #898989;
    // opacity: .2;
    margin: 0 5px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-transition: opacity .5s, background-color .5s, width .5s;
    -o-transition: opacity .5s, background-color .5s, width .5s;
    transition: opacity .5s, background-color .5s, width .5s;
    -webkit-transition-delay: .5s, .5s, 0s;
         -o-transition-delay: .5s, .5s, 0s;
            transition-delay: .5s, .5s, 0s;
}
    

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #898989;
    width: 35.88px;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}

// -------------------- RESPONSIVE------------------
@media screen and (max-width: 1250px) {
    .header {
        .header__title {
            .title__menu {
                display: none;
            }
        }
    
    }
}

@media screen and (max-width: 500px) {
    .header {
        .header__title {
            padding: 10px 15px;
            .title__logo {
                img {
                    height: 26.041379928588867px;
                    width: 118px;
                }
            }
    
            .title__button {
                a {
                    padding: 8px 16px;
                    color: #2BC23A;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 20px;
    
                    &:hover {
                        background: rgba(43, 194, 58, 0.25);
                    }
                }
            }
        }
    
        .header__content {
            .header__container {
                .content__wrapper {
                    max-width: 330px;
                    margin: 50px auto;
                    position: relative;
                    .content__title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 31px;
                        line-height: 43px;
                        /* or 139% */

                        // text-align: center;

                        color: #3B3E45;


                        span {
                            position: relative;
                            &::before {
                                content: url(../images/header/redlineSmall.svg);
                                position: absolute;
                                top: 2px;
                                right: 129px;
                            }
    
                            &::after {
                                content: url(../images/header/bluelineSmall.svg);
                                position: absolute;
                                top: 2px;
                                width: 19.5px;
                            }
                        }
                    }
                    .content__subtitle {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        text-align: center;

                        color: #4A4F5C;
                        margin-bottom: 0px;
                        span {
                            font-weight: 600;
                            color: #3B3E45;
                        }
                    }
                }
                .content__images {
                    text-align: center;
                    margin: 0 auto;
                    .swiper-page {
                        .swiper-wrapper {
                            .swiper-slide {
                                .first {}
    
                                .second {}
                            }
                        }
                    }
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    
}