.page {
    margin: 0 auto;
    .page__container {
        .page__wrapper {
            .page__content {
                // max-width: 730px;
                position: relative;
                margin: 96px auto 150px auto;
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 35%;
                }
                .page__title {
                    text-align: center;
                    color: #3B3E45;
                    font-family: $Raleway;
                    line-height: 76px;
                    font-weight: 600;
                    font-size: 62px;
                    margin-bottom: 50px;
                    span {
                        &::before {
                            content: url(../images/page/Redlines.svg);
                        }
                        &::after {
                            content: url(../images/page/Bluelines.svg);
                            position: relative;
                            top: 15px;
                        }
                    }
                }
                .page__subtitle {
                    text-align: center;
                    font-family: $PTRootUI;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: #4A4F5C;
                    margin-bottom: 5px;
                    span {
                        font-weight: 600;
                        color: #3B3E45;
                    }
                }
            }
            // ---------- GALLERY GRID CSS
            
            .page__images {
                img {
                    width: 100%;
                }
            }
        }
    }
}






