.header-serv {
    background-image: url(../images-serv/header/background.png);
    background-size: cover;
    .header__container {
        .header__content {
            padding-top: 115px;
            h1 {
            }
            p {
                padding-bottom: 122px;
            }
            .header__scroll {
                padding-bottom: 15px;
            }
        }
    }
}