// TEXT
$vddblue: hsl(238, 29%, 16%);
$softred: hsl(14, 88%, 65%);

// #### Gradient

// Background gradient:

$softviolet: hsl(273, 75%, 66%);
$softblue: hsl(240, 73%, 65%);

// ### Neutral

// #### Text

$vdgblue: hsl(237, 12%, 33%);
$dgblue: hsl(240, 6%, 50%);

// #### Dividers

$lgblue: hsl(240, 5%, 91%);