html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h2 {
    font-size: 1.25rem;
}

ul {
    list-style: none;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    background-color: var(--grayishBackground)
}

footer {
    padding: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cyan);
}