:root {
    --white: hsl(0, 0%, 99%);
    --cyan: hsl(179, 62%, 43%);
    --cyanDark: hsl(179, 63%, 48%);
    --yellowBright: hsl(71, 73%, 54%);
    --yellowHover: hsl(71, 86%, 66%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --grayishBackground: hsl(0, 0%, 86%);
}