@media (max-width: 667.98px) {
    .container {
        width: 327px;
        // height: 568px;
    }
    .mainImg {
    }
    h1 {
        margin: 42px 0 33px 0;
    }
    p {
        margin: 0 40px !important;
    }
    .plan {
        margin: 24px !important;
    }
    .plan__img {
    }
    .plan__header {
        
    }
    .title {
        font-size: 13px;
    }
    .subtitle {
        font-size: 13px;
    }
    .plan__btn {

    }
    .plan__link {
        font-size: 13px;
    }
    .submitButton {
        margin: 24px !important
    }
    .submit {
    }
    .cancel {
    }
}