.header {
    background-image: url(../images/header/background.png);
    background-size: cover;
    .header__container {
        .header__title {
            justify-content: space-between;
            .title__logo {
                margin-top: 11px;
            }
    
            .title__middle {
                .subtitle {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    color: #C4C4C4;
                    font-family: $OpenSans;
                    margin-top: 49px;
                    margin-bottom: 22px;
                }
                .title__nav {
                    .checkbox, .hamburger-lines { 
                        display: none; 
                    }
                    .title__list {
                        .title__item {
                            margin-right: 89px;
                            &:last-child {
                                margin-right: 0px;
                            }
                            a {
                                font-family: $DINCondensed;
                                text-transform: uppercase;
                                color: #fff;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
    
            .title__right {
                position: relative;
                .title__right-content {
                    .title-btn {
                        display: inline-block;
                        // max-width: 218px;
                        border: 1px solid #FFFFFF;
                        padding: 9px 28px;
                        border-radius: 2px;
                        // inter
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        margin-top: 28px;
                        margin-bottom: 22px;
                        margin-left: auto;
                        &:hover {
                            color: #d4cbcb;
                            border: 1px solid #d4cbcb;
                        }
                    }
                    .title__phone {
                        position: absolute;
                        left: 30px;
                        .phone {
                            font-family: $DINCondensed;
                            color: #fff;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                        }
                        .mainPhone {
                            // line-height: 22px;
                            &::before {
                                content: url(../images/header/phone.svg);
                                position: relative;
                                top: 3px;
                                margin-right: 8px;
                            }
                            .vector {
                                position: relative;
                                bottom: 3px;
                                margin-left: 8px;
                                cursor: pointer;
                            }
                            .vectorRotate {
                                transform: rotate(180deg);
                            }
                        }
                        .noneShow {
                            opacity:0;
                            transition:.6s all;
                            position: absolute;
                            left: 32px;
                            transition:.6s opacity;
                        }
                        .show {
                            display: block;
                            opacity:1;
                        }
                    }
                }
            }

            .sidebar {
                display: none;
                .closebtn {
                }
            }
            #main {
                display: none;
                z-index: 1000;
                .openbtn {
                }
            }
        }
        .header__content {
            text-align: center;
            margin: 0 auto;
            max-width: 669px;
            padding-top: 184px;
            h1 {
                font-family: $DINCondensed;
                font-style: normal;
                font-weight: 400;
                font-size: 60px;
                line-height: 64px;
                color: #FFFFFF;
                padding-bottom: 12px;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: #D6D6D6;
                padding-bottom: 166px;
            }
            .header__scroll {
                text-align: center;
                padding-bottom: 15px;
                cursor: pointer;
                .title {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.3em;
                    color: #AFAFAF;
                    margin-bottom: 33px;
                }
            }
        }
    }
}




// -------------------- RESPONSIVE------------------
@media screen and (max-width: 1200px) {
    .header {
        .header__container {
            .header__title {
                .title__middle {
                    .title__nav {
                        .title__list {
                            .title__item {
                                margin-right: 49px; // change
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .header {
        background-image: url(../images/header/background.png);
        background-size: cover;
        .header__container {
            .header__title {
                justify-content: space-between;
                .title__middle {
                    .subtitle {
                        display: none;
                    }
                    .title__nav {
                        display: none;
                    }
                }
        
                .title__right {
                    position: relative;
                    text-align: center;
                    margin-right: 80px;
                    .title__right-content {
                        display: flex;
                        align-items: center;
                        .title-btn {
                            margin-right: 20px;
                        }
                        .title__phone {
                            position: inherit;
                            left: 0px;
                            .noneShow {
                                left: 49px;
                            }
                        }
                    }
                }

                // BUUUUUUUUUUUUUUURRRRRRRRRRGGGGGGGGGGGGGGGGGGGERRRRRRRRRRRRRRRR
                .sidebar {
                    display: block;
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1001;
                    top: 16;
                    right: 0;
                    background-color: #111;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 60px;
                    .closebtn {
                        position: absolute;
                        top: 16px;
                        right: 25px;
                        font-size: 36px;
                        margin-left: 50px;
                    }
                    a {
                        font-family: $DINCondensed;
                        text-transform: uppercase;
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: #818181;
                        display: block;
                        transition: 0.3s;
                        &:hover {
                            color: #f1f1f1;
                        }
                    }
                }
                #main {
                    display: block;
                    position: absolute;
                    right: 0;
                    transition: margin-left .5s;
                    padding: 16px;
                    margin-top: 12px;
                    .openbtn {
                        font-size: 20px;
                        cursor: pointer;
                        background-color: rgb(212, 208, 208);
                        color: black;
                        padding: 10px 15px;
                        border: none;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: 700px) {
    .header {
        .header__container {
            .header__title {
                .title__right {
                    .title__right-content {
                        display: block;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .header {
        .header__container {
            .header__title {
                justify-content: flex-start;
                .title__logo {
                    margin-top: 20px;
                    width: 122.4px;
                    height: 80px;
                }
                .title__right {
                    display: none;
                }
                .sidebar {
                    padding-top: 15px;
                }
                .sidebar a {
                    font-size: 18px;
                }
    
            }
            .header__content {
                text-align: center;
                margin: 0 auto;
                max-width: 669px;
                padding-top: 124px;
                h1 {
                    padding-top: 0px;
                    font-size: 33px;
                    line-height: 40px;
                    padding-bottom: 22px;
                }
                p {
                    font-size: 15px;
                    line-height: 32px;
                    padding-bottom: 120px;
                }
            }
        }
    }
}
