html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: $OpenSans;
    font-weight: 400;
}

[class*="__container"] {
    max-width: 1290px;
	margin: 0 auto;
	padding: 0 10px;
}



a {
    text-decoration: none;
}

.row{
	// margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}

.col{
	// margin-left: 10px;
	// margin-right: 10px;
	box-sizing: border-box;
}

// reset
img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ul,ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-left: 0;
}

strong{
	font-weight: normal;
}

em{
	font-style: normal;
}



/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}